<section class="header-main border-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-3 col-md-12">
                <a href="@Url.Action("index","products")" class="brand-wrap">
                    <img class="logo" src="~/Content/Images/logo.png">
                </a> <!-- brand-wrap.// -->
            </div>
            <div class="col-xl-6 col-lg-5 col-md-6">

                @using (Ajax.BeginForm("ProductPartials", "Products", new AjaxOptions
                {
                    UpdateTargetId = "container-body",
                    Url = Url.Action("ProductPartials", "Products"),
                    HttpMethod = "POST",
                    OnBegin= "ldpLoading.Show()",
                    OnComplete="ldpLoading.Hide()"
                }, new { @class = "search-header" }))
                {

                    <div class="input-group w-100">
                        <input type="text" class="form-control" placeholder="Search" name="search">

                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>


                    </div>

                }
            </div> <!-- col.// -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="widgets-wrap float-md-right">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="widget-header mr-3">

                            <a href="@Url.Action("index","profile")" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-user"></i>

                                </div>
                                <small class="text"> @User.Identity.GetFullName() </small>
                            </a>


                        </div>
                    }
                    else
                    {
                        <div class="widget-header mr-3">
                            <a href="@Url.Action("login", "Member")" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-user"></i>

                                </div>
                                <small class="text"> Login</small>
                            </a>
                        </div>
                        <div class="widget-header mr-3">
                            <a href="@Url.Action("register", "Member")" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-registered"></i>

                                </div>
                                <small class="text"> Register</small>
                            </a>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="widget-header mr-3">
                            <a href="@Url.Action("orders","products")" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-building"></i>
                                </div>
                                <small class="text"> Orders </small>
                            </a>
                        </div>
                        <div class="widget-header">
                            <a href="@Url.Action("carts","products")" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <small class="text"> Cart </small>
                            </a>
                        </div>
                    }

                </div> <!-- widgets-wrap.// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section>
